version: 1.0.{build}

image: Visual Studio 2022

build:
  project: none  # Using Python, no VS project

install:
  - ps: choco install python --version=3.11.10 -y
  - ps: refreshenv
  - ps: pip install pyinstaller

build_script:
  # Build EXE
  - pyinstaller --onefile --noconsole os_simulator.py --name "OS_Simulator"
  # Build MSI
  - candle installer.wxs
  - light installer.wixobj -o OS_Simulator.msi

artifacts:
  # EXE artifact
  - path: dist\OS_Simulator.exe
    name: OS_Simulator
  # MSI artifact
  - path: OS_Simulator.msi
    name: OS_Simulator_MSI
